<h2 class="con_head endo_head text-center"><b>Care of infant with cleft</b></h2>

<span>This task force will consist of individuals experienced with care of infants with clefts. The objectives of this task force will be to develop protocols for perinatal and early childhood care of individuals with clefts that are feasible in less-industrialized environments and to consider means of their implementation.</span>

<ul>
	<li><b>Chair:</b> </li>
	<li class="greenColor">Trisha Bannister (UK)</li>
	<li>Email: trishabannister@aol.com</li>
	<li><b>On-Chair</b></li>
	<li>Noreen Clarke (USA) </li>
	<li>Nina Lindberg (Oslo)</li>
	<li>Nicola Huddson</li>
	<li>Padmansani Venkatramanan (India) </li>
	<li>Christy McKinney </li>
</ul>