<h2 class="con_head endo_head text-center"><b>Cleft Clinical Research</b></h2>

<span>This task force will have individual with experience with clinical research in cleft lip and palate. Clinical research is very critical brining out the best protocols and best practices. Establishing the standards to carry out these research in the most efficient and economical ways so that it can be feasible in developing countries which shares huge loads of the patients.</span>

<ul>
	<li><b>Chair:</b> </li>
	<li class="greenColor">Anne Marie Kuijpers-Jagtman (Netherland)</li>
	<li>Email: AnneMarie.Kuijpers-Jagtman@radboudumc.nl</li>
	<li><b>On-Chair</b></li>
	<li>Dr. Partha Sadhu,(India) </li>
</ul>