<h2 class="con_head endo_head text-center"><b>Cleft Without Caries</b></h2>

<span>This task force will consist of pediatric dentists who have experience with establishing dental hygiene programs in areas with few or no dental health professionals. The objective of this task force will be to provide suggestions for development of dental hygiene programs for children with clefts so that at an appropriate age orthodontic and, as needed, orthognathic surgery care can be provided.</span>

<ul>
	<li><b>Chair:</b> </li>
	<li class="greenColor">Nicky Kilpatrick(Australia)</li>
	<li>Email: nicky@bassdata.com.au</li>
	<li><b>On-Chair</b></li>
	<li>Eyal Botzer (Israel)  </li>
	<li>Muthu Murugan (India)  </li>
</ul>