<h2 class="con_head endo_head text-center"><b>Global Cleft Network</b></h2>


<span>We hope that you have an interest in participating in discussions on the care of patients born with a cleft and the outcomes and how you might become involved through your current work. Some of you are members of the Beyond Eurocleft Task Force in conjunction with the International Cleft Congress that was held in Orlando, Florida in 2013. Much work was undertaken by that group which was summarised in Gunvor Semb’s Report</span>
<br/><br/>
<span>After the Cleft 2013 Congress, the International Confederation felt the need to reorganize the task forces. Our group was renamed: Global Cleft Team Network Task Force and some suggestions for the objectives of this new task force were given. Gunvor, together with colleagues Haydn Bellardie, Ron Hathaway, OP Kharbanda, Debbie Sell, Brian Sommerlad, have all been working to take this group forward. To be truly global recruitment of task force participants from all countries of the world must be achieved.</span>
<br/><br/>
<span>We wish to particularly acknowledge the valuable contribution to the philosophy of this new taskforce of those Beyond Eurocleft members, who have made local progress since 2013 and which they have fed back to different Chairs and Co-Chairs.</span>
<br/><br/>
<span>In preparation for the 2017 Congress in Chennai we want to continue the work of Beyond Eurocleft. We want to become more globally inclusive and add more members from previously unrepresented teams and specialties in all regions of the world. We want to understand the barriers and obstacles which teams and individuals face, including the problem of resources, in order to try and improve care and outcomes for all.</span>
<br/><br/>
<span>To do this we are asking you to complete a survey. Your feedback is critical to our goals. We would greatly appreciate you time in briefly answering some questions. All responses will be made anonymous. We do need your help to ‘paint a global picture’ of activities and needs, to be able to best plan our work.</span>
<br/><br/>
<span>Each survey below is a start to making a world-wide database of cleft activities. You may select which survey (or surveys) is most appropriate to your situation and interest. To access a survey, please click on the appropriate link or copy and open in your search engine:</span>

<ul>
<li>
I.	For teams and individuals who collaborate with CHARITY ORGANIZATIONS, https://www.surveymonkey.com/r/LHGCFVV </li>
 
<li>II.	For developing teams and individuals with LIMITED RESOURCES, https://www.surveymonkey.com/r/L9HSY3G </li>
 
<li>III.	For teams and individuals which have ESTABLISHED SERVICES, 
https://www.surveymonkey.com/r/F6BPXD9</li>
</ul>

<span>Thank you! </span>


<ul>
	<li><b>Chair:</b> </li>
	<li class="greenColor">Ron Hathaway (USA)  </li>
	<li>Email: drhathaway54@gmail.com</li>
	<li class="greenColor">Gunvor Semb (Norway)   </li>
	<li>Email: gunvor.semb@manchester.ac.uk</li>
	<li><b>On-Chair</b></li>
	    <li>Brian Sommerlad (UK) </li>
	    <li> Debbie Sell (UK)</li>
	    <li> O. P. Kharbanda (India) </li>
	    <li> Haydn Bellardie (Africa) </li>
</ul>