<h2 class="con_head endo_head text-center"><b>Holistic Outcomes</b></h2>

<span>This task force will consist of individuals who have experience with developing and/or validating holistic outcome measures for cleft care. The objective of this task force will be to develop resources to facilitate the assessment of holistic outcomes for cleft care appropriate for all cultures.</span>

<ul>
	<li><b>Chair:</b> </li>
	<li class="greenColor">Nichola Rumsey (UK)</li>
	<li>Email: nichola.rumsey@uwe.ac.uk</li>
	<li><b>On-Chair</b></li>
			<li>Wendy Nicholls (UK) </li>
		<li>Suresh Kumar M. (India) </li>

</ul>