<h2 class="con_head endo_head text-center"><b>Cleft Without Caries – Philosophy and Goal</b></h2>

<span>The Mission of the Cleft Without Caries Task Force:</span> <br/><br/>

<span>That all children born with a cleft of the lip and/or palate, irrespective of their place of birth, will not only be sufficiently dentally healthy to undergo all age appropriate surgical and orthodontic interventions but will enjoy a standard of oral health that enhances their general health and well being.</span><br/>

<span>Our objectives are that by 2017 we will:</span><br/><br/>

<span>Have established a network of oral health champions, made up of individuals from around the world committed to promoting oral health in children born with CL/P.</span><br/>

<span>Have identified the barriers that exist around the world, to optimising oral health in children born with a cleft of the lip and/or palate.</span><br/>

<span>Be able to describe examples of practice, policy or intervention that are making a difference to the oral health of children born with CL/P.</span><br/>

<span>Make recommendations for the development of oral health promotion and dental hygiene programmes for children born with clefts of the lip/palate.</span><br/>