<h2 class="con_head endo_head text-center"><b>Speech</b></h2>

<span>This task force will consist of individuals who are interested in the following: 
1) Implementing, developing and/or validating speech assessments, specifically focusing on velopharyngeal function, that are independent of language, <br/>
2) Implementing or developing speech-language pathology services in underserved areas, and  <br/>
3) Improving the speech services provided to individuals with cleft palate world wide.  <br/>
The objectives of this Task Force are to continue the development and expansion of internationally applicable standardized “cleft” speech evaluation, to facilitate collaboration among professionals who are or have been providing speech-language pathology services or training community health care workers in developing contexts and assist in developing services in those areas where none currently exists, and to work towards assisting speech providers in achieving competency to assess and/or treat individuals with cleft palate.</span>

<ul>
	<li><b>Chair:</b> </li>
	<li class="greenColor">Kathy Chapman (UK)</li>
	<li>Email: kathy.chapman@health.utah.edu</li>
		<li>Elisabeth Willadsen, (Denmark) </li>
	<li>  Nancy Scherer (USA)</li>
	<li> Aparna V S (India)</li>


</ul>