<h2 class="con_head endo_head text-center"><b>Task Forces Summary Update Jan. 2016</b></h2>

The following Task Forces have solicited members, reviewed the stated goals of the Task Force, and reported on progress to date. A summary for each Task Force follows.

<b>Care of Infant with Cleft</b>

This Task Force is developing guidelines for care of the infant with a cleft lip/palate based on accepted principles of care and will suggest means for implementation of the guidelines in low resource countries.

Clefts Without Caries

This Task Force is collating practices and policies that promote good oral health and performing an assessment of needs and barriers to promoting oral health in low resource countries.

Epidemiology, Aetiology and Prevention

This Task Force is performing an infrastructure and needs analysis regarding cleft epidemiology, aetiology and prevention to enable discussion of a global strategy to address the worldwide needs, following up the 2002 WHO global research strategy on Craniofacial Anomalies. This sharing of expertise, ideas and good practice hopefully will initiate collaborations.

Global Cleft Team Work

This Task Force is soliciting information regarding volume, protocols and outcome assessments from a wide spectrum of cleft providers, cleft teams and cleft organizations with the objectives of formulating “Tiers of Advice” and suggestions of how a cleft team can transition to the next level.

Holistic Outcomes

This Task Force has an overarching aim of constructing a tiered approach to holistic outcome measures with relevance to all members. A draft consensus framework of factors contributing to positive adjustment to cleft in early adulthood has been identified based on feedback from members in 20 countries. Domains have been identified regarding individual psychosocial factors and cleft-specific factors as well as socio-cultural and demographic factors that will be assessed from simple questions at the lowest tier to standardized measures at the highest tier. At the lowest Level the questions will promote the patient’s voice in the delivery of care and in assessing outcomes. At the highest Level, the measures will be suitable for audit and research. A common approach will promote inter-center comparisons.

Speech

This Task Force has conducted a “Needs” survey sent to speech/language pathologists (SLP) from around the world. The results indicated that the interests of the respondents were similar, regardless of the availability of SLPs in the country. Measurement of speech outcomes, intervention strategies for speech and early intervention, and opportunities for collaboration were identified as areas of need by all respondents. Information on international classification of speech errors and access to continuing education were rated by over one-half of the respondents as important. In addition, the respondents suggested additional topics including the development of speech stimuli across languages to facilitate comparison, webinars for continuing education, and developing strategies for telepractice. The Task Force will focus on areas of need, information desired and use of digital technology for implementation.