<h2 class="con_head endo_head text-center"><b>Timeline</b></h2>

<b>Nov 2014 thru Jan 2015:</b> solicitation of TF members
<br/>
<b>Nov 2014 thru Jan 2015:</b> contact of confirmed Task Force members to inform them about the TF process and to inventory a) their demographic details [discipline, location]
b) their motivation for joining this specific Task Force
c) their experience with the focus of this specific Task Force
d) any ideas/suggestion each member has for the direction of this specific Task Force
e) any ideas/suggestion each member has for the organization of this specific Task Force.
<br/>
<b>Feb 2015 thru August 2016:</b> Task Force member interaction by e-mail (or Skype or any other means of communication), at least monthly, to achieve the objective(s) of the specific Task Force. 
<br/>
<b>July 2015 thru Jan 2016:</b> Encourage all TF members to register for the Congress as “Early Bird” before 31 Jan 2016. 
<br/>
<b>Sept 2016 thru Jan 2017:</b> Task Force Chairs and members compile the outcome, discuss the consensus and prepare presentation for the Congress. Communicate to the organizing team (Dr. Jyotsna Murthy) regarding plan, necessary time and space for discussion.
<br/>
<b>During Cleft 2017 Congress (8-11 Feb 2017):</b>
a) Task Force Chairs present their Report to the Congress attendees in General Session
b) Task Force specific uncheon meetings for any Congress attendees interested in joining a Task Force for Cleft 2021