
 <div class="list">
   <div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>Guidelines for Abstract Submission

</b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
	
	
   <p class="ibe_con">1. The abstract should only be submitted online by the presenting author. Please note that it will not be possible to change the presenting author for a paper. </p>
   
   <p class="ibe_con">2. The presenting author should register at cleft2017.org before submitting an abstract.</p>
   
   <p class="ibe_con">3. The presenting author of an accepted abstract should be a registered delegate (before 31st December 2016) in order to be eligible to present at the congress.</p>
   
   <p class="ibe_con">4. Post-graduate trainees/residents/delegates with less than three years of experience are eligible to apply for scholarship to attend the congress, provided they are not receiving any other scholarship or financial assistance from any institutes. Please refer to Win your scholarship for details about available scholarships.</p>
   
   <p class="ibe_con">5. Please enter the names of co-authors in order, separated by a comma (,), and with the first name followed by the surname.</p>
   
   <p class="ibe_con">6. The abstract will be reviewed by a panel of experts appointed by the scientific committee and the decision will be announced by 30th June 2016. The decision of the scientific committee will be final.</p>
   
   <p class="ibe_con">7. The list of accepted abstracts and its category will be available on the website www.cleft2017.org by the 4th of July 2016.</p>
   
   <p class="ibe_con">8. Last date for submission of abstract is: 30th June 2016.</p>
   
   <p class="ibe_con">9. Please mail the scientific committee at scientific@cleft2017.org in case of any queries.</p>
   
   <p class="ibe_con">10. Number of words for abstract is 250</p>

   

   
   
   </ion-item>




 </div>
</div>