 <div class="list">
   <div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>Accompanying Person’s Program</b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
	
	
   <p class="ibe_con">We look forward to your visit to India. We have organized an excellent program for you, while your spouse/ partner busy attending scientific program. The program will provide you with a glimpse of Indian traditions and culture, while giving plenty of opportunity to enjoy Mahabalipuram. </p>
   
   <p class="ibe_con">We hope that you will have enriching experiences during your stay in India : Rhythm amongst chaos, calmness amongst clamor, harmony amongst diversity.</p>


<p class="ibe_con">Please find the attached program for accompanying person. Please note we have “Indian Night Dinner” on 9th evening and we request you to bring Indian attire if possible. You will also have chance to purchase them here as well.</p>


   
   
   <div class = "row home_row_comittee">
   
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body committee_outer for_home_page">
				
				 <h3><b>Dr. Jyotsna Murthy</b></h3>
				 <p>President</p>
				 <p>Cleft Congress 2017</p>
			  </div>
			</div> 
		</div>
		
		
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body committee_outer for_home_page">
				
				 <h3><b>Prof. Roopa Nagarajan</b></h3>
				 <p>Organizing Secretary</p>
				 <p>Cleft Congress 2017 </p>
			  </div>
			</div> 
		</div>

		
		
	 </div>
   
   
   </ion-item>


 </div>
</div>