<h2 class="con_head endo_head text-center"><b>Program Highlights</b></h2>

<span>This task force will have individual with experience with clinical research in cleft lip and palate. Clinical research is very critical brining out the best protocols and best practices. Establishing the standards to carry out these research in the most efficient and economical ways so that it can be feasible in developing countries which shares huge loads of the patients.</span>

<ul>
	
	<li class="greenColor">Continuing Education Program</li>
	<li>AOCMF Advance Course on Distraction
Cleft Lip Nose Correction
Evidence Based Therapy for Cleft Speech
Exploring Attributable Risk Due to Genetic and Environmental Factors in Orofacial Clefts
Let NGOs … Think, Treat and Teach…
Network Between Orthodontist and Surgeon During Management of Patients with Oro-Facial Clefts: Infancy to Adolescence
Psychosocial Adjustment to Cleft: Putting Patients at the Center of Care</li>

<br>

<li class="greenColor">Orations</li>
<li>Braithwaite Oration
Dr. S.R. Tambwekar Founders Lecture
Millards Visiting Professor Oration</li>
	
	
<li class="greenColor">Plenary Symposia</li>
<li>Challenges for Developing Countries:

    1. Adult Unoperated Clefts
    2. Absence of Multidisciplinary Team
    3. Adult Cleft Cripple with Multiple Problems

Pierre Robin Sequence: Multidisciplinary Approach
Protocols and Long Term Outcomes
Role of Genetics in Clinical Practice</li>

<li class="greenColor">Breakaway Symposia
</li>
<li>Decision for craniosynostosis: Why, When & How. Endoscopic Open Surgery for Craniosynostosis
Dentistry and Dental Decay in Cleft
Early Speech and Language Intervention
Effect of Correction of Class III on Mandibular Function
Fibrous Dysplasia: How and When to Treat
Fronto Nasal Dysplasia
Growth in Cleft – What do We Know?
Long Term follow up After Lefort III Distraction in Craniofacial Disorders
Management of Class III Occlusion in Cleft Distraction/Orthognathics
Management of Premaxilla: Anatomy and Embryology (Long Term Outcome of Bilateral Cleft Lip and Palate)
Microtia Reconstruction
Neurodevelopmental Outcome in Single Suture Craniosynostosis
Nutritional Counselling for Neonates and Infants with Cleft Lip and Palate
Rare Craniofacial Cleft
Reducing Orthodontic Care
Research on Etiology of Cleft and Craniofacial Anomalies
Role of Cone Beam CT
Speech Articulation and Dental Occlusion: Is There a Relationship?
Speech Assessment
Virtual Surgical Planning
What Not to Do in Orthodontic Treatment of Cleft Lip Palate, Craniofacial Syndromes and Hemifacial Microsomia</li>

<li class="greenColor">Debates/Panel Discussion</li>
<li>Can There Be an International Rating System for Hypernasality and Other Speech Disorders?
Challenges and Solutions Facing Academicians in Teaching Cleft Lip/Palate to Students of Speech Pathology
Early Distraction for Hemifacial Microsomia : For and Against
Growth in Presurgical Orthopedics with Early Gingivoperiosteoplasty Vs Non PSO and ABG
Overseas NGO have Helped Cleft Care – For and Against
Radical Muscle Dissection Vs Furlows with Buccal Flap for Primary Palatoplasty
Role of Parental Support Group in Cleft</li>

</ul>