 <div class="list">
   <div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>Scholarships Announced</b><h2>
   
   <h2 class="con_head endo_head text-center"><b>Scholarships for Congress 2017 </b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
   
   
    <div class = "row home_row_comittee">
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body committee_outer for_home_page">
				 <img class="full-image" src="img/cleft2017small.jpg">
				 <h3><b>1. Cleft Congress Scholarship: 10</b></h3>
			  </div>
			</div> 
		</div>
	 </div>
   
   <div class = "row home_row_comittee">
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body committee_outer for_home_page">
				 <img class="full-image" src="img/cole.jpg">
				 <h3><b>2. Owen Cole Scholarship: 1</b></h3>
			  </div>
			</div> 
		</div>
	 </div>
   
   <div class = "row home_row_comittee">
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body committee_outer for_home_page">
				 <img class="full-image" src="img/scholarship.jpg">
				 <h3><b>3. Addition of new scholarship as we receive from corporate and educational sponsors </b></h3>
			  </div>
			</div> 
		</div>
	 </div>
   
	
	<p class="ibe_con for_top">Dear all, </p>
	
   
   <p class="ibe_con">We are happy to announce different scholarships available for Congress 2017. The scholarships are applicable for post graduate residents/trainees or for young delegates (those within three years of experience post-graduation), who are not receiving funding support or financial assistance from any institutions. </p>
   
    <p class="ibe_con">Delegates, if willing to apply for scholarship, should submit an abstract reflecting the original work and effort of the presenting author. The delegates should abide by the guidelines for abstract submission specified by the scientific committee. The last date for submission of abstracts is 30th June, 2016. They should also indicate their willingness to be considered for scholarship at the time of abstract submission. The decision will be taken by the scientific committee based on inputs from a panel of experts. The decision of the scientific committee will be final. </p>
    
     <p class="ibe_con">1.<b>Cleft Congress Scholarship: 10 scholarships to the tune of $2500 each.</b><br>
In order to encourage young trainees and researchers to participate and share their research work in the field, ten scholarships have been provided during every congress since the 7th International Congress in 1993. These scholarships are being awarded to delegates from across the world. In addition to originality and quality of paper, geographic distribution of the presenting author will also be taken into consideration for selection of awardees. </p>
     
      <p class="ibe_con">Presenting authors of the selected abstract will be asked to submit the full-length paper. The deadline for submission of full-length paper is 31st July 2016. The full-length papers will be reviewed by another panel of experts. The list of awardees of the Cleft Congress Scholarship will be announced by the end of September 2016. This would provide awardees with sufficient time to secure their travel visas and make the necessary travel arrangements.</p>
      
       <p class="ibe_con">2.<b>Owen Cole Memorial Scholarship</b><br>
Dr. Owen Cole was a much loved and admired Plastic Surgeon who chaired the scientific committee of the 7th International Congress in Broadbeach, Australia, in 1993. His tragic death shortly before the Congress touched many in the international community and at the 8th International Congress in Singapore; the Owen Cole Memorial Scholarship was established and first awarded in his honour. Now awarded at each International Congress, and funded by the Australasian Cleft Lip and Palate Association’s Education Fund, the Scholarship is an important award for young professionals involved in the management of cleft lip and palate and craniofacial anomalies. This award represents an opportunity to remember our friends and colleagues who have given so much to cleft and craniofacial care in the past, but also allows us to look to the future and reward one of the international community’s promising young investigators.</p>
       
        <p class="ibe_con">Presenting authors of the selected abstract will be asked to submit the full-length paper. The deadline for submission of full-length paper is 31st July 2016. The full-length papers will be reviewed by another panel of experts. The list of delegates presenting at the Junior Investigator category for the Owen Cole Memorial Scholarship will be announced by the end of September 2016. The Owen Cole Memorial Scholarship is presented to the best Junior Investigator presentation at the General Assembly on the last day of the Congress, as judged by the Junior Investigator committee. The award consists of:</p>
        
          <p class="ibe_con">a. Reimbursement of Congress Registration
b. Reimbursement of Economy Class Airfare to the Congress
c. <b>$2500 USA </b>(converted to winner’s native currency)
d. Engraved Tray (plate)</p>
          
            <p class="ibe_con">Keep looking at this place for information on any further scholarships.</p>
            
              <p class="ibe_con">Regards, </p>
              
              <p class="ibe_con"><b>Scientific Committee</b></p>
              
               <p class="ibe_con"><b>Cleft Congress 2017</b></p>

   
   
  
   
   </ion-item>



<div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>KEYNOTE ADDRESS</b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
	
	<p class="ibe_con for_top">“A small lapse of nature can have serious consequences for an individual. Being committed to correction of cleft has transformed many lives. My best wishes and blessings for the success of this conference of compassion.” - <b>Sadhguru, Isha Foundation</p></p>
	
  
   
   
   <div class = "row home_row_comittee">
   
		<div class = "col text-center">
			
				 <img class="full-image" src="img/sadguru.jpg">
			  
		</div>
		
	 </div>
</ion-item>
   </div>
 </div>
</div>