<ion-view view-title="About">
    <ion-content>
        <h2 class="con_head endo_head text-center"><b>About Asian Pacific Endodontic Confederation</b></h2>

        <h5 class="text-center">Executive Committee of APEC (2015-17)</h5>

       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						President
				  </div>
				  <div class="item item-text-wrap">
				  	Dr. Chen Gin (Taiwan)
				  </div>
				</div>
	     	</div>
	    </div>


       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						Imm. Past President
				  </div>
				  <div class="item item-text-wrap">
				  		Dr. Ibrahim Abu Tahun (Jordan)
				  </div>
				</div>
	     	</div>
	    </div>

       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						President-Elect
				  </div>
				  <div class="item item-text-wrap">
				  		Dr Sanjay Miglani (India)
				  </div>
				</div>
	     	</div>
	    </div>

	   <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						Secretary
				  </div>
				  <div class="item item-text-wrap">
				  		Dr. Muna Al Ali  (Australia)
				  </div>
				</div>
	     	</div>
	    </div>


       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						Treasurer
				  </div>
				  <div class="item item-text-wrap">
				  			Dr. Sasaluck Pakdeethai	(Australia)
				  </div>
				</div>
	     	</div>
	    </div>

       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						Chairman, Education Committee
				  </div>
				  <div class="item item-text-wrap">
				  			Prof. Sung Kyo Kim	(Korea)
				  </div>
				</div>
	     	</div>
	    </div>

	     	<!--images-->
	   <div class = "row">	 
	     <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  
				  <img class="full-image for_flag" src="img/about/apec_ec.png">
			    </div>
			  </div> 
		  </div>
	   </div>

	   <div class = "row">	 
	     <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				
				
				  <img class="full-image for_flag" src="img/about/apec_member_society.png">
			    </div>
			  </div> 
		  </div>
	   </div>

	   <!--APEC Councilors -->

       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						APEC Councilors
				  </div>
				  <div class="item item-text-wrap">
				  		<p>Dr. Hyeon - Cheol KIM, Korea</p>
						<p>Dr. Jiiang - Huei JENG, Taiwan</p>
						<p>Dr. Marcus YAN, Australia</p>
						<p>Dr. Anil KOHLI, India</p>
						<p>Dr. Mohsen RAMAZANI, Iran</p>
						<p>Dr. Mamoru KOBAYASHI, Japan</p>
						<p>Dr. Samuel DORN, USA</p>
						<p>Dr. Dephne LEONG, Singapore</p>
				  </div>
				</div>
	     	</div>
	    </div>


       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
						Honorary Life Members
				  </div>
				  <div class="item item-text-wrap">
				  		<p>Dr John BOOTH (Dec)</p>
						<p>Dr Ernesto R VIZCARRA (Dec)</p>
						<p>Prof. Paul V ABBOTT</p>
						<p>Prof. Mahmoud TORABINEJAD</p>
						<p>Prof. Syngcuk KIM</p>
						<p>Prof. Hideaki SUDA</p>
				  </div>
				</div>
	     	</div>
	    </div>


       <div class = "row home_row_comittee all_speakers">	 
         <div class = "col text-center">
			<div class="card">
				  <div class="item item-divider">	    
							Honorary Auditors of APEC
				  </div>
				  <div class="item item-text-wrap">
				  		<p>Prof. Phillippe O Zimet </p>
						<p>Prof. Gerald Kian Chong LIM</p>
				  </div>
				</div>
	     	</div>
	    </div>

	    <!--text-->
		 <div class = "row home_row_comittee all_speakers">	 
	         <div class = "col">
	         		
	         		<p>The Asian Pacific Endodontic Confederation (commonly known as APEC) began in December 1985 in Bangkok, Thailand. This was the first of two organisational meetings of representatives from participating national endodontic societies and associations in the Asian Pacific region.</p>	

					<p>The second organisational meeting was held in Manila, The Philippines, in November 1986. The major task achieved at that meeting was the finalisation of the first Constitution. This constitution was then ratified during the 1st Scientific Congress of APEC which was held in New Delhi, India, in January 1988. The Confederation and its Constitution were registered with the Registrar of Societies in Hong Kong in November 1989.</p>

					<h5>The aims of APEC, as stated in the first Constitution were: </h5>

					<ul class="mynavList">
						<li>promote, develop and maintain high standards of endodontic research, teaching and clinical practice in the Asian Pacific region.</li>

						<li style="padding-top:8px">To cultivate and foster closer professional relationships of the endodontic practitioners within the Asian Pacific region.</li>
					</ul>

					<h5>In the 1993 Newsletter, the then President of APEC, Dr John Booth of Australia, added the following reasons why endodontists and national endodontic societies should join APEC and continue to support its activities:</h5>

					<ol class="mynavOList">
					<li>1) To keep your country involved in regional endodontics.</li>
						<li>2) To promote your country in the Newsletter by way of articles on Endodontics.	</li>
						<li>3) To work towards achieving high quality endodontics by means of advancing education through attending our meetings-if fees are charged then individual members could get a reduced fee.	</li>
						<li>4) To help set up a register of Endodontic specialists who are Board-registered in their country-this register could be of value to you if you have patients traveling	</li>
						<li>5) To receive the Newsletters	</li>
						<li>6) To enable you to feel you are helping the development of Endodontics in the Asian Pacific region.	</li>
						<li>7) To help you keep in touch	</li>
						<li>8) The subscription is small and the knowledge gained can help you to be a leader in Endodontics in your country.	</li>
					</ol>

					<!--last paras-->
					<p>In 1999, the same reasons still apply and it is most encouraging to see that APEC continues to grow, although slowly, within the region. The Confederation has conducted regular scientific meetings with large attendances in various countries in the region-a summary of the APEC scientific Congresses is attached.</p>

					<p>The Constitution was revised in 1998-99 to reflect changes in the methods of operation of the Confederation and the increasing number of "Endodontic Society/Association Members" (national endodontic societies/associations from within the Asian Pacific region). This version will be presented to the Biennial General Meeting in April 1999 in Singapore for ratification and adoption. Once finalised, the new Constitution will help the Confederation to continue to achieve its aims and help members advance endodontic practice, teaching and research.</p>

					<p>An organisation such as APEC can only achieve its aims through the hard work and dedication of its Officers, Councillors and members. Each of these people must be willing to donate a considerable amount of time to the Confederation and there is no doubt that our past Officers and Councillors have done so quite unselfishly. One of the biggest challenges facing the Officers and Councillors is not only the physical distance that exists between them, but they must also learn to appreciate and co-operate with colleagues from different backgrounds, different cultures, different educational experiences and different political environments. Communication can be a problem and at times it can delay actions that are required. However, with modern day advances such as fax machines and electronic mail, this aspect is more easily overcome.</p>

	         </div>
         </div>
 

	    
    </ion-content>
</ion-view>

  


  