<ion-view view-title="Abstract Submission">
   <ion-content class="padding" scroll="true">
 

<div class = "row contact_row">
 <div class = "col ">
  <div class="list">
   <div class="item item-button-right contact_content exhibit_row">
  
      <div class = "row contact_content">
       <div class="col">
        <h2 class="con_head text-center contact_head"><b>APEC 2017 Abstract</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>Important Dates:</h3>
            
            <ul>
                <li>Abstract submission opens
                <b>15th September 2016</b></li>
                <li>
                  Abstract submission deadline
                  <b>5th January 2017</b></li>
                  <li>Decision on submitted abstract
                  <b>15th February 2017</b></li>
                  <li>Scientific Schedule by
                  <b>15th March, 2017</b></li>
            </ul>
            
            
            <h3 class="last_exit">How to Submit:</h3>
            
            <ul>
               <li>Only Online Submission</li>
               <li> The maximum word limit should not be more than <b>300 words</b> with the title not exceeding 30 words.</li>
               <li>The maximum word limit should not be more than 300 words with the title not exceeding 30 words.
                Upload abstract in <b>Ms-Word (.doc, .docx) format only</b></li>
            </ul>
            
            
           

    <h3 class="last_exit">Acceptance / Rejection of Presentation:</h3>
    
    <ul>
    <li>Acceptance of submission is subject to decision of the scientific committee which shall be final and binding.</li>

    </ul>
    <br>
     <ion-item menu-close href="http://www.eregnow.com/?apec2017" target="_blank">
         
          <img class="full-image con_manager" src="img/abstract.jpe">
          
          </ion-item>
	       </ion-item>
       </div>
      </div>
      
      
      
      
      
      
      
      
      
      
       <div class = "row contact_content">
       <div class="col">
        <h2 class="con_head text-center contact_head"><b>Oral Presentation Guidelines</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>Guidelines for Delegates/ Faculty</h3>
            
            <ul class="abst">
               

   <li> 1. A delegate can present only <b>ONE</b> paper and co-author more than one presentation. The email id and contact details must be provided for correspondence
   <li> 2. The presenter should mention in bold the type of presentation; <b>Original Research or Clinical Case Report/ Case Series.</b>
    <li>3. Acceptance of presentation is subject to decision of Scientific committee only.
   <li> 4. The abstract should comprise of <b>Title, Background knowledge, Material methods, Results, Conclusion, Clinical relevance for ORIGINAL RESEARCH and brief introduction, case report, discussion, uniqueness of modality/material applied for CASE PRESENTATION.</b>
   <li> 5. The abstract for original research should contain the <b>results and conclusion</b> and case presentation should have at least 6 months follow up wherever applicable.
    <li>6.Previously published abstracts (in print or any electronic format) or those presented at another meeting are not allowed.
  <li>  7. The total duration of the paper should not exceed <b>10 minutes</b>. The time assigned for discussion post presentation is 2 minutes. The stipulated time <b>must</b> be <b>STRICTLY</b> adhered to.





            </ul>
            
            
            <h3 class="last_exit">Guidelines for Students</h3>
            
            <ul class="abst">
             
         <li>1. The maximum entries for paper presentation are restricted to 2 per college. Two students may participate in presenting <b>ONE</b> paper.
   <li> 2. The presenter should mention in <b>bold</b> the type of presentation; <b>Original Research or Clinical Case Report/ Case Series.</b>
     <li>3. Acceptance of presentation is subject to decision of Scientific committee only.
    <li> 4. The abstract should comprise of <b>Title, Background knowledge, Material Methods, Results, Conclusion, Clinical relevance for ORIGINAL RESEARCH and brief introduction, case report, discussion, uniqueness of modality/material applied for CASE PRESENTATION.</b>
    <li> 5. The abstract for original research should contain the <b>results and conclusion</b> and case presentation should have at least 6 months follow up wherever applicable.
    <li> 6. Previously published abstracts (in print or any electronic format) or those presented at another meeting are not allowed.
    <li> 7. The total duration of the paper should not exceed <b>8 minutes</b>. The time assigned for discussion post presentation is 2 minutes. The stipulated time <b>must</b> be <b>STRICTLY</b> adhered to.
             
             
             
             
             
            </ul>
            
            
           

   
	       </ion-item>
       </div>
      </div>
      







  <div class = "row contact_content">
       <div class="col">
        <h2 class="con_head text-center contact_head"><b>Poster Presentation Guidelines</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>Guidelines for Student</h3>
            
            <ul class="stud_ab">
               

       <li>1. All poster presentations are categorized as original research, Case report and basic science/review.  <li>
     <li> 2. Each college can send 2 presentations. (Colleges having more than 4 pgs per year can send 3 presentations). 3 pgs can jointly present a Poster.  <li>
      <li>3. In case of poster on original research the abstracts should include the aim of the study and an outline of the methodology, results, and conclusions.  <li>
      <li>4. Please follow the website for presentation category and sub-category.  <li>





            </ul>
            
            
            <h3 class="last_exit">Guidelines for Faculty/ Delegates</h3>
            
            <ul class="stud_ab">
             
       <li> 1. The poster topic should be either original research or case presentation.</li>
             
             
             
            </ul>
            
            
             <h3 class="last_exit">Poster Preparation Guidelines</h3>
            
            <ul class="stud_ab">
             
          <li>1. The Poster presentation is <b>not an e-poster. </b> <li>
      <li>2. It has to be printed on a glossy/Matt paper.  <li>
     <li> 3. Posters Size (portrait): Maximum width: 90cm, Maximum Height: 180cm. Pins for mounting will be available at each board.  <li>
     <li> 4. It should include all the authors' names. It should have a clear structure and layout with minimum amount of text.  <li>
     <li> 5. Presenters will get 4 minutes time for presentation plus 1 minute for discussion.  <li>
             
             
             
            </ul>
            
            <ion-item >
         
          <img class="full-image con_manager" src="img/poster.jpg">
          
          </ion-item>
           

   
	       </ion-item>
       </div>
      </div>
      






      

      
    </div>
  </div>
 </div>
</div>
 
 
  </ion-content>
</ion-view>

	 
