<ion-view view-title="Committee">
    <ion-content>
	
	<h2 class="con_head endo_head text-center"><b>Advisory Committee</b><h2>
    
    <div class = "row home_row_comittee">
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body advic_committee_outer ">
				 <h3><b>Prof. Shigehiko Suzuki,</b><span>MD, PhD.</span></h3>
				 <h2>Department of Plastic and Reconstructive Surgery</h2>
				 <h2>Kyoto University</h2>
				 <h2>The president of JCPA</h2>
				 <h2>ssuzuk@kuhp.kyoto-u.ac.jp</h2>
			  </div>
			</div> 
		</div>
	 </div>
	 
	 <div class = "row home_row_comittee">
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body advic_committee_outer ">
				 <h3><b>Prof. Mikihiko Kogo,</b><span>DDS, PhD.</span></h3>
				 <h2>Department of Oral and Maxillofacial surgery 1</h2>
				 <h2>Osaka University</h2>
				 <h2>The president of 2016 JCPA Annual meeting</h2>
				 <h2>kogo@dent.osaka-u.ac.jp </h2>
			  </div>
			</div> 
		</div>
	 </div>
	 
	 <div class = "row home_row_comittee">
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body advic_committee_outer ">
				 <h3><b>Dr. Takafumi Susami,</b><span>DDS, PhD.</span></h3>
				 <h2>Department of Oral Maxillofacial Surgery, Dentistry and Orthodontics</h2>
				 <h2>The University of Tokyo Hospital</h2>
				 <h2>Chair: International Relations Committee of JCPA</h2>
				 <h2>susami-ora@h.u-tokyo.ac.jp</h2>
			  </div>
			</div> 
		</div>
	 </div>
   
    
    <h2 class="con_head endo_head text-center"><b>International Advisory Committee</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Adrian Sugar
</b></h3>
				  <p class="comit_loc">UK</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Anne Marie Kuijpers-Jagtman
</b></h3>
				  <p class="comit_loc">Netherland</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Asarat Mengiste
</b></h3>
				  <p class="comit_loc">Ethiopia</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Brian Sommerlad
</b></h3>
				  <p class="comit_loc">UK</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. David Fitzsimons

 </b></h3>
				  <p class="comit_loc">Australia</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. David J. David
</b></h3>
				  <p class="comit_loc">Australia</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. David P. Kuehn
</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Debbie Sell
</b></h3>
				  <p class="comit_loc">UK</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Fernando Molina
</b></h3>
				  <p class="comit_loc">Mexico</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Jan Lilja
</b></h3>
				  <p class="comit_loc">Sweden</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Judith Trost-Cardamone
</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Kenneth Salyer
USA</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Prof. Lee S. T.
</b></h3>
				  <p class="comit_loc">Singapore</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Linda D’Antonio
</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Mark Hans
</b></h3>
				  <p class="comit_loc">Sweden</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Maurice Mommaerts
</b></h3>
				  <p class="comit_loc">Belgium</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Nabil Samman
</b></h3>
				  <p class="comit_loc">Hongkong</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Philip Chen
</b></h3>
				  <p class="comit_loc">Taiwan</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Samuel Noordhoff
</b></h3>
				  <p class="comit_loc">Taiwan</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Satoh Kaneshige
</b></h3>
				  <p class="comit_loc">Japan</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Terumi Okada Ozawa
</b></h3>
				  <p class="comit_loc">Brazil</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. William Shaw
</b></h3>
				  <p class="comit_loc">UK</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Thomas C.

 </b></h3>
				  <p class="comit_loc">Oman</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			
			</div>
			
	    </div>
        
           <h2 class="con_head endo_head text-center"><b>National Advisory Committee</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Hirji Adenwalla
</b></h3>
				  <p class="comit_loc">Trissur</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Karla G. S.
</b></h3>
				  <p class="comit_loc">Jaipur</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Karoon Agrawal
</b></h3>
				  <p class="comit_loc">Delhi</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Khanna J. N.
</b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Kharbanda O. P.
</b></h3>
				  <p class="comit_loc">Delhi</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Kishore Nayak
</b></h3>
				  <p class="comit_loc">Bangalore</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Krishnasamy N. R.
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Mukund Reddy
</b></h3>
				  <p class="comit_loc">Hyderabad</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Mukund Thatte

 </b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Rajeev Ahuja
</b></h3>
				  <p class="comit_loc">Delhi</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Ramesh Oza
</b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Shashank Chatterji

 </b></h3>
				  <p class="comit_loc">Kolkatta</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Singh A. K.
</b></h3>
				  <p class="comit_loc">Lucknow</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Sridhar K.
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Subrmania Iyer
</b></h3>
				  <p class="comit_loc">Cochin</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Surajit Bhatacharya
</b></h3>
				  <p class="comit_loc">Lucknow</p>
			    </div>
			  </div> 
			</div>
			
	    </div> 
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Surajit Bhatacharya
</b></h3>
				  <p class="comit_loc">Lucknow</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">

			</div>
			
	    </div> 
	    
	    

    </ion-content>
</ion-view>

  


  