<ion-view view-title="Useful Links">
    <ion-content>
        
        <div class = "row home_row_comittee">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/doc.svg">
				  <h2><b>Organizing Committee</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/on.svg">
				  <h2><b>Online Registration</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/trade.svg">
				  <h2><b>Trade & Exhibition</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/exibi.svg">
				  <h2><b>Programme</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/submission.svg">
				  <h2><b>Abstract Submission</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/accmo.svg">
				  <h2><b>Accommodation</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
			 
   </ion-content>
   
    <ion-content>
   
     <div class="for_venu">
     <div class = "row">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/hot.png">
				 </div>
			  </div> 
			</div>
			
		</div>	
			
   	<div class = "row">		
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/accmo.svg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	 </div>   
	 
	 
   </ion-content>
</ion-view>

  
</ion-view>

  