<ion-view view-title="Committee">
    <ion-content>
    
       <h2 class="con_head endo_head text-center"><b>Committee of Congress</b><h2>
        
        <div class = "row home_row_comittee all_speakers">
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee_img/cong_com/dr_jyotsna_murthy.jpg">
				  <p class="comit_design">Chairperson</p>
				  <h3><b>Dr. Jyotsna Murthy</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
	     </div>
	    
	     <div class = "row home_row_comittee all_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/cong_com/dr_ashok_utreja.jpg">
				  <p class="comit_design">Co Chairman</p>
				  <h3><b>Dr. Ashok Utreja</b></h3>
				  <p class="comit_loc">Chandigarh</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/cong_com/prof_roopa_nagarajan.jpg">
				  <p class="comit_design">Organising Secretary</p>
				  <h3><b>Prof. Roopa Nagarajan</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	     <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/cong_com/dr_krishnamurthy_bonanthaya.jpg">
				  <p class="comit_design">Chairman-Scientific Committee</p>
				  <h3><b>Dr. Krishnamurthy Bonanthaya</b></h3>
				  <p class="comit_loc">Bangalore</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee_img/cong_com/dr_m_s_muthu.jpg">
				 <p class="comit_design">Treasurer</p>
				  <h3><b>Dr. M S Muthu</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	     <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/cong_com/dr_srinivas_gosla_reddy.jpg">
				  <p class="comit_design">Finance Chairman</p>
				  <h3><b>Dr. Srinivas Gosla Reddy</b></h3>
				  <p class="comit_loc">Hyderabad</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/cong_com/dr_shailesh_ranade.jpg">
				 <p class="comit_design">Co-Treasuer</p>
				  <h3><b>Dr. Shailesh Ranade</b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    

    </ion-content>
</ion-view>

  


  