<ion-view view-title="Contact">
   <ion-content class="padding" scroll="true">
 

<div class = "row contact_row">
 <div class = "col ">
  <div class="list">
   <div class="item item-button-right contact_content">
  
      <div class = "row contact_content">
       <div class="col">
        <h2 class="con_head text-center contact_head"><b>Conference Secretariat</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
          
	         <p class="ibe_con"><img class="full-image" src="img/loc.svg">
                      Dr. Jyotsna Murthy
                         Organising Chairman
                         Prof, Dept of Plastic Surgery, Sri Ramchandra University, 
                        Porur, Chennai – 600 116

             </p>
	     
	         <p class="ibe_con"><img class="full-image" src="img/pho.svg">  Mobile: 95662 30075</p>
	         
	         <p class="ibe_con"><img class="full-image" src="img/fax.svg">  Telephone: 044-24765614</p>
	         

	         
	       </ion-item>

          <h2 class="con_head text-center contact_head"><b>For More Queries</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
          
           <p class="ibe_con"><img class="full-image" src="img/loc.svg">
                   
                          M.Bharathi (Conference Secretariat)
                                   
                                        
             </p>
       
           <p class="ibe_con"><img class="full-image" src="img/pho.svg">  Mobile: +91 9566230075.</p>
           
           
           <p class="ibe_con"><img class="full-image" src="img/emailme.svg">  Email: cleftcongress2017@gmail.com</p>     
         </ion-item>

           <h2 class="con_head text-center contact_head"><b>important Email Address</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
      
            <p>presidentcleft2017@gmail.com (PRESIDENT)</p>
             <p>treasurer@cleft2017.org (TREASURER)</p>
              <p>scientific@cleft2017.org (SCIENTIFIC)</p>

         </ion-item>


       </div>
      </div>
      
      
      
       
      
      
    </div>
  </div>
 </div>
</div>
 
 
  </ion-content>
</ion-view>

	 
