<ion-view view-title="Downloads">
    <ion-content>
        
        <div class = "row home_row_comittee all_downloads">	 
         
         <div class = "col text-center">
			  <ion-list>
       
       
        <ion-item menu-close onclick="window.open('http://www.apec2017.in/images/apec2017_exhibitor_manual.pdf', '_system', 'location=yes'); return false;" href="#" target="_blank">
          Trade Brochure
        </ion-item>
        <ion-item menu-close onclick="window.open('http://www.apec2017.in/images/apec2017_exhibition_layout.png', '_system', 'location=yes'); return false;" href="#" target="_blank">

          Exhibition Layout
        </ion-item>
          <ion-item menu-close onclick="window.open('http://www.apec2017.in/images/registration_apec2017.pdf', '_system', 'location=yes'); return false;" href="#" target="_blank">
           Registration Form
        </ion-item>
      </ion-list>
			</div>
			
	    </div>
	    
	  
	 
    </ion-content>
</ion-view>

  


  