<ion-view view-title="Committee">
    <ion-content>
    
       <h2 class="con_head endo_head text-center"><b>Executive Committee of Confederation</b><h2>
        
        <div class = "row home_row_comittee all_speakers">
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee_img/cong_com/dr_jyotsna_murthy.jpg">
				  <p class="comit_design">President</p>
				  <h3><b>Dr. Jyotsna Murthy</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
	     </div>
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/cong_com/dr_ashok_utreja.jpg">
				 
				  <h3><b>Dr. Ashok Utreja</b></h3>
				  <p class="comit_loc">India</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_ross_long.jpg">
				 
				  <h3><b>Dr. Ross Long</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
			    <img class="full-image" src="img/committee_img/ex_com/dr_triona_sweeney.jpg">
				 
				  <h3><b>Dr. Triona Sweeney</b></h3>
				  <p class="comit_loc">Ireland</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_krishnamurthy_bonanthaya.jpg">
				 
				  <h3><b>Dr. Krishnamurthy Bonanthaya</b></h3>
				  <p class="comit_loc">India</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_brenda_louw.jpg">
				 
				  <h3><b>Dr. Brenda Louw</b></h3>
				  <p class="comit_loc">South Africa</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_steve_robinson.jpg">
				 
				  <h3><b>Dr. Steve Robinson</b></h3>
				  <p class="comit_loc">UK</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/prof_roopa_nagarajan.jpg">
				 
				  <h3><b>Ms. Roopa Nagarajan</b></h3>
				  <p class="comit_loc">India</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_haydn_bellardie.jpg">
				 
				  <h3><b>Dr. Haydn Bellardie</b></h3>
				  <p class="comit_loc">South Africa</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_cassio_eduardo_raposo_do_amaral.jpg">
				 
				  <h3><b>Dr. Cassio Eduardo Raposo do Amaral</b></h3>
				  <p class="comit_loc">Brazil</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_jeffery_marsh.jpg">
				 
				  <h3><b>Dr. Jeffrey Marsh</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_saleigh_adams.jpg">
				 
				  <h3><b>Dr. Saleigh Adams</b></h3>
				  <p class="comit_loc">South AFrica</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_anelise_sabbag.jpg">
				 
				  <h3><b>Dr. Anelise Sabbag</b></h3>
				  <p class="comit_loc">Brazil</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_jerald_b_moon.jpg">
				 
				  <h3><b>Dr. Jerald B Moon</b></h3>
				  <p class="comit_loc">USA</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_felicity_vidya_mahendale.jpg">
				 
				  <h3><b>Dr. Felicity Vidya Mehendale</b></h3>
				  <p class="comit_loc">UK</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	     <div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/ex_com/dr_vera_lucia_raposo_do_amaral.jpg">
				 
				  <h3><b>Dr. Vera Lucia Raposo do Amaral</b></h3>
				  <p class="comit_loc">Brazil</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  
			</div>
			
	    </div>
	    
	    
	     
	    
	    

    </ion-content>
</ion-view>

  


  