<ion-view view-title="Trade & Exhibition">
   <ion-content class="padding" scroll="true">
 

<div class = "row contact_row">
 <div class = "col ">
  <div class="list">
   <div class="item item-button-right contact_content exhibit_row">
  
      <div class = "row contact_content">
       <div class="col">
        <h2 class="con_head text-center contact_head"><b>APEC 2017 Exhibition & Sponsorship</b><h2>
          <ion-item class="item-text-wrap con_content text-center">
          
	         <p class="ibe_con">We are pleased to invite local and international organizations to sponsor the 19th Scientific Congress of Asian Pacific Endodontic Confederation and 18th post graduate convention

            Demand is expected to be high, we suggest you review the opportunities and act quickly to ensure your preferred sponsorship and maximize your investment through promotion of your organization.

            </p>
            
            <h3>PLEASE NOTE :-</h3>
            
            <ul>
                <li>All prices quoted are in INR / USD and include all Taxes</li>
                <li>To fully confirm your sponsorship package , 50% part payment is required upon booking. Your booking will only be fully processed and secured upon receipt of this deposit at the Congress Office. The balance of payment is due no later than 1st March 2017.</li>
                <li>On receipt of your application to sponsor you will receive an acknowledgement email, with formal confirmation and a tax invoice to follow within 7 working days.</li>
                <li>Payment can be made only by Neft/Rtgs or cheque. If you pay by swift transfer or an international cheque you agree to pay any bank charges that may arise and must include these in the amount you transfer.</li>
                <li>Participation is deemed as fully confirmed upon committee approval and following receipt of your 50% part payment</li>
                <li>Allocations will be made strictly in order of receipt of application and payment</li>
            </ul>
            
            <h3 class="last_exit">CANCELLATION POLICY :-</h3>
            
            <ul>
                <li>All cancellations must be received in writing to the Congress Office</li>
                <li>If you cancel a sponsorship package or exhibition booth space, unless that particular sponsorship package or exhibition space is fully resold, the Organiser reserves the right to retain monies received. r If the sponsorship package and/or the booth space is resold a full refund will be made post Congress.</li>
                <li>Any booth or sponsorship package cancelled after 15th February 2017 will incur 100% forfeit</li>
                <li>    If the balance of payment is not received by the due date, the allocated sponsorship or exhibition booth/s will be cancelled. </li>
            </ul>
            
	       </ion-item>
       </div>
      </div>
      

       <div class = "row contact_content">
        <div class="col">
         <h2 class="con_head text-center contact_head"><b>Exhibition Layout Plan :- </b><h2>
          <ion-item class="item-text-wrap con_content text-center">
	         <p class="ibe_con">
	          Download the Exhibition & sponsorship Prospectus: click here<br>
	         <img class="full-image con_manager" src="img/lay.png"></p>
	       </ion-item>
        </div>
       </div>
      
    </div>
  </div>
 </div>
</div>
 
 
  </ion-content>
</ion-view>

	 
