<ion-view view-title="Committee">
    <ion-content>
	
	<h2 class="con_head endo_head text-center"><b>Finance committee</b><h2>

		
		
		
		<h2 class="con_head endo_head text-center"><b>Local Organsing Committee</b><h2>
		
		<div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			<div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/fin_com/dr_srinivas_gosla_reddy.jpg">
				  <p class="comit_design">Chairman

</p>
				  <h3><b>Dr. Srinivas Gosla Reddy</b></h3>
				  <p class="comit_loc">Hyderabad</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/fin_com/dr_ravi_mahajan.jpg">
				  <p class="comit_design">Co-Chair

</p>
				  <h3><b>Dr. Ravi Mahajan</b></h3>
				  <p class="comit_loc">Chandigarh</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			<div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/fin_com/dr_nitin_mokal.jpg">
				  <p class="comit_design">Co-Chair

</p>
				  <h3><b>Dr. Nitin Mokal</b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">

			</div>
			
	    </div>
		
		
		
		
		
		
		
		
		<h2 class="con_head endo_head text-center"><b>Members</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr.Nilesh Pagaria
</b></h3>
				  <p class="comit_loc">Chattisgarh</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Gautam Munjal
</b></h3>
				  <p class="comit_loc">Chandigarh</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 
		  <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Mr. Vineet Mishra
</b></h3>
				  <p class="comit_loc">Lucknow</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Akhter Hussain
</b></h3>
				  <p class="comit_loc">Mangalore</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 
		  <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Ms. Angeli Kant
</b></h3>
				  <p class="comit_loc">Mysore</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Mustafa K
</b></h3>
				  <p class="comit_loc">Mangalore</p>
			    </div>
			  </div> 
			</div>
			
	     </div>

		


		
			    

    </ion-content>
</ion-view>

  


  