<ion-view view-title="Home">

<ion-header-bar class="bar-dark">
  <button class="button button-icon" ng-click="toggleSideMenu()">
    <i class="icon ion-navicon"></i>
  </button>

</ion-header-bar>

  <ion-content  scroll="true">
 
<div class = "col home_col">

   <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="box blue">
      <img  width="100%"  height="252px" src="img/slider_1.jpg"/> </div>
    </ion-slide>
    <ion-slide>
     <div class="box yellow">
     <img   width="100%"  height="252px" src="img/slider_2.jpg"/></div>
    </ion-slide>
  </ion-slide-box>




 <div class="list">
   <div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>MESSAGE</b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
	
	<p class="ibe_con for_top">Dear Friends, Vanakkam!!! Greetings from Chennai</p>
	
   <p class="ibe_con">A warm welcome to attend <b>13th International Cleft Congress</b> being held in Mahabalipuram (also known as Mamallapuram), India. Mahabalipuram is heritage town located 56 Kms. from Chennai on sea shore. India, the seventh largest and second most populous country with 1.2 billion people is the largest democracy in the world. Home to ancient civilization, historic trade routes and vast empires, India is a country of diverse religions and cultures. It is pluralistic, mutilingual and muti-ethnic society.</p>

   <p class="ibe_con">This premiere event will create an international forum for the global cleft community including service providers, researchers, academicians, NGOs, charitable institutes, parents associations and scientists to deliberate on important issues.</p>
   
   <p class="ibe_con">The Asian region has the highest number of cleft and craniofacial children and is the most dynamic region for growth and development of health care. This fact adds greater importance to the 13th Cleft Congress being midst of this most dynamic phase of scientific advancement and extending the medical care to the deserving children. The event will be a not-to-be-missed opportunity to harness synergy, strength and experience of the developing and developed worlds towards collectively attaining global issues related to the Cleft and Craniofacial communities.</p>
   
   <p class="ibe_con">The congress promises to be a great learning and networking experience, and we do not want any Cleft professionals or well-wisher to miss being part of this significant event. To add, the conference is organised in historical small town known as Mahabalilpuram, popular for sculpturing in a beach resort giving you opportunity to experience India, as it exists in small towns.</p>
   
   <p class="ibe_con">We want to disseminate information about 13th Congress to all parts of the globe. We appreciate your help to communicate information about the Congress. Your efforts to generate maximum awareness will be invaluable as, through your active support and help, information will reach the correct people. These are some ways your society can help • Send an email to all your members about the Congress • A banner with information about and a link to the Congress URL (www.cleft2017.org ) on your website • Information about the congress in your organization’s printed communications</p>
   
   <p class="ibe_con">Let us all unite our efforts to make 13th Cleft Congress a memorable experience for all!</p>
   
   <p class="ibe_con">India beckons… Come and join us!</p>

   
   
   <div class = "row home_row_comittee">
   
		<div class = "col text-center">
			<div class="list card">
			  <div class="item item-body committee_outer for_home_page">
				 <img class="full-image" src="img/dr_jyotsna.png">
				 <h3><b>Dr. Jyotsna Murthy</b></h3>
				 <h2>President, International Confederation of Cleft Lip & Palate and Related Craniofacial Anomalies Chairperson, Cleft Congress 2017</h2>
			  </div>
			</div> 
		</div>

		
		
	 </div>
   
   
   </ion-item>



<div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>KEYNOTE ADDRESS</b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
	
	<p class="ibe_con for_top">“A small lapse of nature can have serious consequences for an individual. Being committed to correction of cleft has transformed many lives. My best wishes and blessings for the success of this conference of compassion.” - <b>Sadhguru, Isha Foundation</p></p>
	
  
   
   
   <div class = "row home_row_comittee">
   
		<div class = "col text-center">
			
				 <img class="full-image" src="img/sadguru.jpg">
			  
		</div>
		
	 </div>
</ion-item>
   </div>
 </div>
</div>



	 
  </ion-content>
</ion-view>
