<ion-view view-title="Tours">
    <ion-content>
        
        <div class = "row home_row_comittee">	 
         
         <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/tours/am013.jpg">
				  
			    
			  </div> 
			 
			</div>
			
			
			
			 <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/tours/am014.jpg">
				  
			    
			  </div> 
			 
			</div>
			
	    </div>
	    
	   <div class = "row home_row_comittee">	 
         
         <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/tours/india06n.jpg">
				  
			    
			  </div> 
			 
			</div>
			
			
			
			 <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/tours/india07.jpg">
				  
			    
			  </div> 
			 
			</div>
			
	    </div>
	    
	    
	     <div class="list">
   <div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>Why should you travel in India…</b><h2>
   
   <ion-item class="item-text-wrap con_content text-center">
	
	
   <p class="ibe_con">“Chaotic, bamboozling, intoxicating, crazy, exasperating, wonderful, squalid, beautiful, daunting, overwhelming, and fantastic” – the famous lonely planet writer Daniel Mc Crohan wrote about travel in India. It is all of that and much more…</p>
   
   <p class="ibe_con">India packs a lot into a massive space, and you’ll never have time to see it all in one trip. Tailoring your trip according to your interests will make your entire travel experience memorable and worthwhile. </p>
   
   <p class="ibe_con">Admirers of Islamic architecture will find some spectacular monuments in Delhi, home to the Red Fort, the mosques and minarets of the Qutb Minar complex and Humuyan’s Tomb. When you head south, you will find the exotic beaches of Goa, some great waterways in the God’s own country of Kerala and boastfully the world’s second longest Marina beach at “namma Chennai” (translated as our Chennai).</p>
   
   <p class="ibe_con">For wildlife lovers, the best chances of spotting a tiger are in the national parks of Madhya Pradesh or Rajasthan, but there are national reserves all over India where you can track down wildlife as exotic as lions (Sasan Gir, Gujarat), wild asses (Little Rann, Gujarat), one-horned rhinos (Assam) and wild elephants (Wayanad, Kerala), as well as abundant birdlife (Bharatpur, Rajasthan). Not quite wildlife, but certainly wild, are camel treks through the desert from Jaisalmer or Bikaner in Rajasthan.</p>
   
   <p class="ibe_con">Adrenaline seekers find breathtaking activities in the Kullu Valley and the high reaches of Uttarkhand and Himachal Pradesh from treks to skiing and white-water rafting. Rishikesh is another top spot for rafting and trekking, with a famous pilgrimage trail to four sacred mountain temples. Shimla, the classic hill station and Manali are the other snowcapped mountains worth a visit. </p>
   
   <p class="ibe_con">Of Course, centers of spirituality, meditation and yoga are everywhere to choose from!!</p>
   
   <p class="ibe_con">To talk about Venue, you will be in Heritage town, Mahabalipuram. The famous French styled Pondicherry and Auroville are just an hour drive. There are splendid temples and other monuments all around the venue worth a visit. For your convenience, we may recommend the following web links to choose from a variety of tour packages to suit your interests. Customized tours may also be available on request to the individual tour providers. </p>
   
   
  
   
   </ion-item>




 </div>
</div>
	    
	   
	  
  
   
    
    
	 
	 
    </ion-content>
</ion-view>

  


  