<ion-view view-title="My Favourites">
    <ion-content>
        
         <div ng-repeat="myattend in myAttendingList" class = "row home_row_comittee all_speakers all_speaker_listing full_talk_list">
         <div class = "col text-center"  >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>{{myattend.title}}</b></h3>
				  <p class="comit_loc"><span>By: </span>{{myattend.Name}}</p>
				  <p class="comit_loc"><span>Time: </span>{{myattend.Duration}}</p>
				  <p class="comit_loc"><span>Date: </span>{{myattend.Day}}</p>
				  <p class="comit_loc"><span>Hall: </span>{{myattend.Hall}}</p>
			    </div>
			  </div> 
			</div>
	     </div>

    </ion-content>
</ion-view>

  


  