<ion-view view-title="Committee">
    <ion-content>
	
	<h2 class="con_head endo_head text-center"><b>Organising Committees</b><h2>
	
	<h2 class="con_head endo_head text-center"><b>National organizing Committee</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Akhilesh Sharma

 </b></h3>
				  <p class="comit_loc">Jaipur</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Asif masood
</b></h3>
				  <p class="comit_loc">Gorakhpur</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Bhibhuti Nayak
</b></h3>
				  <p class="comit_loc">Bhuvaneswar</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Derick A Mendonca
</b></h3>
				  <p class="comit_loc">Banglore</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Gopalkrishnan K
</b></h3>
				  <p class="comit_loc">Dharwad</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Naryanan P. V.
</b></h3>
				  <p class="comit_loc">Trissur</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Sherry Peter
</b></h3>
				  <p class="comit_loc">Cochin</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Sridevi Padmanabhan
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Subodh Singh
</b></h3>
				  <p class="comit_loc">Varanasi</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Sunil Richardson
</b></h3>
				  <p class="comit_loc">Kanyakumari</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Vaibhav Khanna
</b></h3>
				  <p class="comit_loc">Lukhnow</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Vithal Lahane
</b></h3>
				  <p class="comit_loc">Lathur</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		
		
		<h2 class="con_head endo_head text-center"><b>Local Organsing Committee</b><h2>
		
		<div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/org_com/dr_altaf_hussains.jpg">
				  <p class="comit_design">Chairmen

</p>
				  <h3><b>Dr. Altaf Hussain</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/org_com/dr_prasad_koti.jpg">
				  <p class="comit_design">Chairmen

</p>
				  <h3><b>Dr. Prasad Koti</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
		
		
		
		
		
		
		
		
		<h2 class="con_head endo_head text-center"><b>Members</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Ms. Navitha U.
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Ravindra C.
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Veerabahu
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Venkatesh R.
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

		
		<div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Vignesh Kailasam
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			 
			</div>
			
	    </div>

		
			    

    </ion-content>
</ion-view>

  


  