<ion-view view-title="Organising Committee">
    <ion-content>
        <h2 class="con_head endo_head text-center"><b>APEC 2017 Organising Committee</b></h2>

        <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/gin_chen.jpg">
				  <p>Prof. Gin Chen</p>
						<p>President, APEC</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/muna_al_ali.jpg">
				  <p>Dr. Muna Al Ali</p>
						<p>Hon. Secretary, APEC</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	    
	    
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/sung_kyo_kim.jpg">
				  <p>Prof. Sung Kyo Kim</p>
				<p>Chairman Education Committee, APEC</p>
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/t_murali_mohan.jpg">
				  <p>Dr. T. Murali Mohan</p>
						<p>President IACDE</p>
			    </div>
			  </div> 
			</div>
	    </div>
	    

	    <!--3-->
        <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/mohan_b.jpg">
				  <p>Dr. Mohan B</p>
				   <p>Secretary IACDE</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/ida_de_ataide.jpg">
				  <p>Dr. Ida De Ataide</p>
						<p>President IES</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    <!--4-->
        <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/k_s_banga.jpg">
				  <p>Dr. K. S. Banga</p>
				   <p>Secretary IES</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/anil_kohli.jpg">
				  <p>Dr. Anil Kohli</p>
						<p>Congress Chairman</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
  <!--5-->
        <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/arundeep_singh.jpg">
				  <p>Dr. Arundeep Singh</p>
				   <p>Congress Co-Chairman</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/sanjay_miglani.jpg">
				  <p>Dr. Sanjay Miglani</p>
				  <p>Congress Secretary</p>

			    </div>
			  </div> 
			</div>
			
	    </div>


	      <!--6-->
        <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/vikram_sharma.jpg">
				  <p>Dr. Vikram Sharma</p>
				   <p>Treasurer</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/anupam_bhargav.jpg">
				  <p>Dr. Anupam Bhargav</p>
				  <p>Congress Joint Secretary</p>

			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    	      <!--7-->
        <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/rohit_nagar.jpg">
				  <p>Dr. Rohit Nagar</p>
				   <p>Congress Assistant Secretary</p>
				
			    </div>
			  </div> 
			</div>

			    <div class = "col text-center">
			
			</div>

	    </div>

			<!--Convenors-->
	   <h2 class="con_head endo_head text-center"><b>Convenors</b></h2>
	
	   <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/sangeeta_talwar.jpg">
				  <p>Dr. Sangeeta Talwar</p>
						<p>Scientific Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/sarita_kohli.jpg">
				  <p>Dr. Sarita Kohli</p>
						<p>Reception Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>


      <!--2ND-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/shibani_grover.jpg">
				  <p>Dr. Shibani Grover</p>
						<p>Publication Committe</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/ajay_logani.jpg">
				  <p>Dr. Ajay Logani</p>
						<p>Pre Congress Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	          <!--3ND-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/vineeta_nikhil.jpg">
				  <p>Dr. Vineeta Nikhil</p>
						<p>Hospitality Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/sonali_taneja.jpg">
				  <p>Dr. Sonali Taneja</p>
						<p>Poster Presentation Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    <!--4-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/rohit_kochar.jpg">
				  <p>Dr. Rohit Kochar </p>
						<p>HRegistration Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/rakesh_mittal.jpg">
				  <p>Dr. Rakesh Mittal</p>
						<p>Banquet Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    	    <!--6-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/mandeep_grewal.jpg">
				  <p>Dr. Mandeep Grewal</p>
						<p>Trade Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/tarun_giroti.jpg">
				  <p>Dr. Tarun Giroti</p>
						<p>Website & Promotion Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    	    	    <!--7-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/dildeep_bali.jpg">
				  <p>Dr. Dildeep Bali</p>
						<p>Accomodation Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/anil_tomar.jpg">
				  <p>Dr. Anil Tomar</p>
						<p>Tour & Travel Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    	    	    	    <!--8-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/sumit_sharma.jpg">
				  <p>Dr. Sumit Sharma</p>
						<p>Accomodation Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/nikhil_bahuguna.jpg">
				  <p>Dr. Nikhil Bahuguna </p>
						<p>International Relation Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    	    	    	    	    <!--9-->
	    <div class = "row home_row_comittee all_speakers for_org_com">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/anika_mittal.jpg">
				  <p>Dr. Anika Mittal</p>
						<p>Spouses Committee</p>
				
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/ekta_choudhary.jpg">
				  <p>Dr. Ekta Choudhary</p>
						<p>Gift & Memento Committee</p>
			    </div>
			  </div> 
			</div>
			
	    </div>

	    <!--9TH-->

	    <div class = "row home_row_comittee all_speakers for_org_com">	 
           <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee/Convenors/irfan_ansari.jpg">
				  <p>Dr. Irfan Ansari</p>
						<p>Transport Committee	</p>
			    </div>
			  </div> 
			</div>
	  		
	      <div class = "col text-center">
			  <div class="list card">
			   
			  </div> 
			</div>
			
	    </div>




	    
    </ion-content>
</ion-view>

  


  