<ion-view view-title="Committee">
    <ion-content>
	
	<h2 class="con_head endo_head text-center"><b>Reception, Registration and Education Committees</b><h2>

		
		
		
		<h2 class="con_head endo_head text-center"><b>Reception Committee</b><h2>
		
		<div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			<div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/reg_com/dr_arun_chitharanjan.jpg">
				  <p class="comit_design">Chairman

</p>
				  <h3><b>Dr. Arun Chitharanjan</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			
			
	    </div>
		
		
		<h2 class="con_head endo_head text-center"><b>Members</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Aparna Chitharanjan
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Manikandan Manirathnam
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Shiva Subramaniyam
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Singh S. P.
</b></h3>
				  <p class="comit_loc">Chandigarh</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 <h2 class="con_head endo_head text-center"><b>Registration Committee</b><h2>
		
		<div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			<div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/reg_com/dr_r_k_mishra.jpg">
				  <p class="comit_design">Chairman

</p>
				  <h3><b>Dr. R K Mishra</b></h3>
				  <p class="comit_loc">Lucknow</p>
			    </div>
			  </div> 
			</div>
			
			
			
	    </div>
		
		
		<h2 class="con_head endo_head text-center"><b>Members</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Chintamani Kale
</b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Jaiswal K. S.
</b></h3>
				  <p class="comit_loc">Allahabad</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Prashant Baranwal
</b></h3>
				  <p class="comit_loc">Varanasi</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Radhakrishnan
</b></h3>
				  <p class="comit_loc">Nagarkoil</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 <h2 class="con_head endo_head text-center"><b>Education Committee</b><h2>
		
		<div class = "row home_row_comittee all_speakers  ex_comm">	 
        
         <div class = "col text-center">
			<div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/reg_com/dr_mahesh_prabhu.jpg">
				  <p class="comit_design">Chairman

</p>
				  <h3><b>Dr. Mahesh Prabhu</b></h3>
				  <p class="comit_loc">Belgaum</p>
			    </div>
			  </div> 
			</div>
			
			
			
	    </div>
		
		
		<h2 class="con_head endo_head text-center"><b>Members</b><h2>
	
		 <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
            <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Puneet Pasricha
</b></h3>
				  <p class="comit_loc">Jalandhar</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Dr. Subbalekshmi
</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
	     </div>
		 

		 


		


		
			    

    </ion-content>
</ion-view>

  


  