<ion-view view-title="Registration Only">
   <ion-content class="padding" scroll="true">
 

<div class = "row contact_row">
 <div class = "col ">
  <div class="list">
   <div class="item item-button-right contact_content exhibit_row for_reg_bod">
  
      <div class = "row contact_content for_reg_only">
       <div class="col">
        
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>Category</h3>
            
            <ul>
               
   <li> 1. Full APEC Member Countries (International Delegates)</li>
    <li>  2. Non APEC Member Countries (International Delegates)</li>
    <li>  3. Students (International Delegate)</li>
    <li>  4. IACDE/ IES Members</li>
    <li>  5. Non-Members</li>
   <li>   6. IACDE/ IES Student Members</li>
    <li>  7. Accompanying Person/ Spouse</li>

               
               
            </ul>
            
         
	       </ion-item>
       </div>
      </div>
      
      
      
      
      
       <div class = "row contact_content">
       <div class="col">
        
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>Till 15-Dec-2016</h3>
            
            <ul>
               
  
  <li>  1. USD 250  </li>  
     
     <li>   2. USD 275 </li>  
     
     <li>   3. USD 180 </li>  
     <li>   4. Rs 12000 </li>  
     <li>   5. Rs 13000 </li>  
   <li>     6. Rs 8500 </li>  
    <li>    7. Rs 10500 </li>  


               
               
            </ul>
            
         
	       </ion-item>
       </div>
      </div>
      
      
      
      
      
      
        <div class = "row contact_content">
       <div class="col">
        
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>Till 15-Feb-2017</h3>
            
            <ul>
               
  
  <li>  1. USD 275  </li>  
     
     <li>   2. USD 300 </li>  
     
     <li>   3. USD 230 </li>  
     <li>   4. Rs 13500 </li>  
     <li>   5. Rs 14500 </li>  
   <li>     6. Rs 9500 </li>  
    <li>    7. Rs 10500 </li>  


               
               
            </ul>
            
         
	       </ion-item>
       </div>
      </div>
      
      
      
      
       <div class = "row contact_content">
       <div class="col">
        
          <ion-item class="item-text-wrap con_content text-center">
          
	       
            <h3>SPOT REGISTRATION</h3>
            
            <ul>
               
  
  <li>  1. USD 325  </li>  
     
     <li>   2. USD 350 </li>  
     
     <li>   3. USD 280 </li>  
     <li>   4. Rs 15000 </li>  
     <li>   5. Rs 16000 </li>  
   <li>     6. Rs 10500 </li>  
    <li>    7. Rs 11500 </li>  


               
               
            </ul>
            
         
	       </ion-item>
       </div>
      </div>
      
      
      
      <div class = "row home_row_comittee all_downloads to_more_read">	 
         
         <div class = "col text-center">
			  <ion-list>
       
       <p><b>Registration Entitlements:</b> Conference Kit, Entry to Scientific Area (except accompanying person), Entry to Trade Areas, Lunches, AM/PM Tea, Gala Dinner</p>
        <ion-item menu-close onclick="window.open('http://www.apec2017.in/registration.html', '_system', 'location=yes'); return false;" href="" target="_blank">
          Read More
        </ion-item>
       
			</div>
			
	    </div>
	    
      
      
      
      

      

      
    </div>
  </div>
 </div>
</div>
 
 
  </ion-content>
</ion-view>

	 
