<ion-view view-title="Registration">
    <ion-content>
        
        <div class = "row home_row_comittee">	 
         
         <div class = "col text-center">
         <a href="" ui-sref="app.reg">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/re_form.jpeg">
				  <h2><b>Registration Only</b></h2>
			    </div>
			  </div> 
			  </a>
			</div>
			
			
			
			<div class = "col text-center">
			<a onclick="window.open('http://in.eregnow.com/ticketing/apec2017', '_system', 'location=yes'); return false;" href="#">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/on.svg">
				  <h2><b>Online Registration</b></h2>
			    </div>
			  </div> 
			  </a>
			</div>
			
	    </div>
	    
	   
	   
	  
  
   
    
    
	 
	 
    </ion-content>
</ion-view>

  


  