<ion-view view-title="Scientific">
    <ion-content>
      
	    
	    <div class = "row home_row_comittee scientific_block">	 
         
         <div class = "col text-center"   ui-sref="app.speaker_listing">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Speakers</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center"   ui-sref="app.talk_all_listing">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Talks</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    <div class = "row home_row_comittee scientific_block">	 
         
         <div class = "col text-center"   ui-sref="app.hall">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Hall</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center"   ui-sref="app.my_fav_detail">	 
			 <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>My Favourites</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div ng-if="userType && userType=='SPEAKER' " class = "row home_row_comittee scientific_block">	 
         
         <div class = "col text-center"   ui-sref="app.my_session_detail">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>My Session</b></h2>
			    </div>
			  </div> 
		 </div>
			
			<div class = "col text-center" >	 
			
			</div>
			
	    </div>
	    
	    
	   
	    
	    
	    
	    
	   
	 
    </ion-content>
</ion-view>

  


  