<ion-view view-title="Committee">
    <ion-content>
    
       <h2 class="con_head endo_head text-center"><b>Scientific Committee</b><h2>
        
        <div class = "row home_row_comittee all_speakers">
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/committee_img/sci_com/dr_krishnamurthy_bonanthaya.jpg">
				  <p class="comit_design">Chairman</p>
				  <h3><b>Dr. Krishnamurthy Bonanthaya</b></h3>
				  <p class="comit_loc">Bangalore</p>
			    </div>
			  </div> 
			</div>
	     </div>
	    
	     <div class = "row home_row_comittee all_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/sci_com/dr_ramesh_sharma.jpg">
				 <p class="comit_design">Co Chairman</p>
				  <h3><b>Dr. Ramesh Sharma</b></h3>
				  <p class="comit_loc">Chandigarh</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   <img class="full-image" src="img/committee_img/sci_com/dr_mukund_jaganathan.jpg">
				 <p class="comit_design">Co Chairman</p>
				  <h3><b>Dr. Mukund Jaganathan</b></h3>
				  <p class="comit_loc">Mumbai</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	     <div class = "row home_row_comittee all_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
			    <img class="full-image" src="img/committee_img/sci_com/dr_savitha_hariharan2.jpg">
				 <p class="comit_design">Co Chair</p>
				  <h3><b>Dr. Savitha Hariharan</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			 
			</div>
			
	    </div>
	    
	     <h2 class="con_head endo_head text-center"><b>Members</b><h2>
	    
	    
	    <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  <h3><b>Dr. Anantnarayanan P</b></h3>
				  <p class="comit_loc">Chennai</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   
				  <h3><b>Ms. Aparna Sasi
 </b></h3>
				  <p class="comit_loc">Bangalore</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	     <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  <h3><b>Dr. Arti Waknis

</b></h3>
				  <p class="comit_loc">Pune</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   
				  <h3><b>Dr. Gopalkrishnan K

</b></h3>
				  <p class="comit_loc">Dharwad</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  <h3><b>Dr. Partha Sadhu

</b></h3>
				  <p class="comit_loc">Manipur</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   
				  <h3><b>Dr. Puneet Batra

</b></h3>
				  <p class="comit_loc">Delhi</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  <h3><b>Ms. Pushpavathy

</b></h3>
				  <p class="comit_loc">Mysore</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   
				  <h3><b>Dr. Rajesh Pawar

</b></h3>
				  <p class="comit_loc">Dharward</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  <h3><b>Dr. Rebecca Jacob
 </b></h3>
				  <p class="comit_loc">Bangalore</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   
				  <h3><b>Dr. Renu Parmar

</b></h3>
				  <p class="comit_loc">Bangalore</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	     <div class = "row home_row_comittee all_speakers sci_com_speakers">	 
        
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  
				  <h3><b>Dr. Sherry Peter

</b></h3>
				  <p class="comit_loc">Cochin</p>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				   
				  <h3><b>Dr. Vijay Mathur

</b></h3>
				  <p class="comit_loc">Delhi</p>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    

    </ion-content>
</ion-view>

  


  