<ion-view view-title="Speakers">
    <ion-content>
    
      
        
        <div ng-repeat="speaker in speakers" class = "row home_row_comittee all_speakers all_speaker_listing">
         <div class = "col text-center" >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>{{speaker.Name}}</b></h3>
				  <p class="comit_loc">Designation</p>
				  <p class="comit_loc"><span>Email: </span>{{speaker.email}}</p>
			    </div>
			  </div> 
			</div>
	     </div>
	    

	    
	    
	    

    </ion-content>
</ion-view>

  


  