<ion-view view-title="Speakers">
    <ion-content>
        
        <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d1.jpg">
				  <h3><b>Dr. Cliff Ruddle</b></h3>
				  <img class="full-image for_flag" src="img/flg_3.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d2.jpg">
				  <h3><b>Dr. Paul MH Dummer</b></h3>
				  <img class="full-image for_flag" src="img/flg_7.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d3.jpg">
				  <h3><b>Dr. Yoshi Terauchi</b></h3>
				  <img class="full-image for_flag" src="img/flg_1.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d4.jpg">
				  <h3><b>Dr. Kishor Gulabivala</b></h3>
				  <img class="full-image for_flag" src="img/flg_7.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d5.jpg">
				  <h3><b>Dr. Vladimir Ivanovic</b></h3>
				  <img class="full-image for_flag" src="img/flg_14.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d6.jpg">
				  <h3><b>Dr. Franck Diemer</b></h3>
				  <img class="full-image for_flag" src="img/flg_15.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d7.jpg">
				  <h3><b>Dr. Hagay Shemesh</b></h3>
				  <img class="full-image for_flag" src="img/flg_2.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d8.jpg">
				  <h3><b>Dr. William P Saunders</b></h3>
				  <img class="full-image for_flag" src="img/flg_7.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d9.jpg">
				  <h3><b>Dr. Samuel O Dorn</b></h3>
				  <img class="full-image for_flag" src="img/flg_3.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d10.jpg">
				  <h3><b>Dr. Ibrahim Abu Tahun</b></h3>
				  <img class="full-image for_flag" src="img/flg_4.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>























       <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d11.jpg">
				  <h3><b>Dr. Frank Paque</b></h3>
				  <img class="full-image for_flag" src="img/flg_5.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d12.jpg">
				  <h3><b>Dr. Walid Nehme</b></h3>
				  <img class="full-image for_flag" src="img/flg_10.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d13.jpg">
				  <h3><b>Dr. Hyeon-Cheol Henry Kim</b></h3>
				  <img class="full-image for_flag" src="img/flg_6.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d14.jpg">
				  <h3><b>Dr. Tan Shao Yong</b></h3>
				  <img class="full-image for_flag" src="img/flg_8.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d15.jpg">
				  <h3><b>Dr. Mehmet Baybora Kayahan</b></h3>
				  <img class="full-image for_flag" src="img/flg_9.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d16.jpg">
				  <h3><b>Dr. Mohd. Hossein Nekoofar</b></h3>
				  <img class="full-image for_flag" src="img/flg_11.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d17.jpg">
				  <h3><b>Dr. Hidefumi Maeda</b></h3>
				  <img class="full-image for_flag" src="img/flg_1.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d18.jpg">
				  <h3><b>Dr. Andreas K Braun</b></h3>
				  <img class="full-image for_flag" src="img/flg_2.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d19.jpg">
				  <h3><b>Dr. Donna Richards</b></h3>
				  <img class="full-image for_flag" src="img/flg_13.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d20.jpg">
				  <h3><b>Dr. Tarek Ghattas</b></h3>
				  <img class="full-image for_flag" src="img/flg_4.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    
	    <div class = "row home_row_comittee all_speakers">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d21.jpg">
				  <h3><b>Dr. Min-Seock Seo</b></h3>
				  <img class="full-image for_flag" src="img/flg_6.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d22.jpg">
				  <h3><b>Dr. Vivek Hegde <br>(IES Nominated) </b></h3>
				  <img class="full-image for_flag" src="img/flg_12.jpg">
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee all_speakers last_ind">	 
         
         <div class = "col text-center">
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <img class="full-image" src="img/d23.jpg">
				  <h3><b>Dr. Asmita Singh Gupta <br>( IACDE Nominated)</b></h3>
				  <img class="full-image for_flag" src="img/flg_12.jpg">
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center">
			  
			</div> 
			</div>
			
	    </div>
	    
	    
	   
	   
	 
    </ion-content>
</ion-view>

  


  