<ion-view view-title="Talk Detail">
    <ion-content>
        
         <div class = "row home_row_comittee all_speakers all_speaker_listing full_talk_list">
         <div class = "col text-center"  >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>{{talkDetail[0]['title']}}</b></h3>
				  <p class="comit_loc"><span>By: </span>{{talkDetail[0]['Name']}}</p>
				  <p class="comit_loc"><span>Time: </span>{{talkDetail[0]['Duration']}}</p>
				  <p class="comit_loc"><span>Date: </span>{{talkDetail[0]['Day']}}</p>
				  <p class="comit_loc"><span>Hall: </span>{{talkDetail[0]['Hall']}}</p>
				  <button class="my_attending for_all_talk_detail">Attend?</button>
			    </div>
			  </div> 
			</div>
	     </div>

    </ion-content>
</ion-view>

  


  