<ion-view view-title="Talks">
 
<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="8th Feb" >
  
     <div class = "row home_row_comittee all_speakers all_speaker_listing full_talk_list">
         <div class = "col text-center"     ui-sref="app.talk_full_detail" >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Detailes talk topic</b></h3>
				  <p class="comit_loc"><span>By: </span>Bob The Builder 1</p>
				  <p class="my_attending">Attending</p>
			    </div>
			  </div> 
			</div>
	     </div>
	    
  </ion-tab>

  <ion-tab title="9th Feb" >
    <div class = "row home_row_comittee all_speakers all_speaker_listing full_talk_list">
         <div class = "col text-center"  ui-sref="app.talk_full_detail" >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Detailes talk topic</b></h3>
				  <p class="comit_loc"><span>By: </span>Bob The Builder 2</p>
				  <p class="my_attending">Attending</p>
			    </div>
			  </div> 
			</div>
	     </div>
  </ion-tab>

  <ion-tab title="10th Feb" >
   <div class = "row home_row_comittee all_speakers all_speaker_listing full_talk_list">
         <div class = "col text-center"  ui-sref="app.talk_full_detail" >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Detailes talk topic</b></h3>
				  <p class="comit_loc"><span>By: </span>Bob The Builder 3</p>
				  <p class="my_attending">Attending</p>
			    </div>
			  </div> 
			</div>
	     </div>
  </ion-tab>
  
  <ion-tab title="11th Feb" >
    <div class = "row home_row_comittee all_speakers all_speaker_listing full_talk_list">
         <div class = "col text-center"  ui-sref="app.talk_full_detail" >
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h3><b>Detailes talk topic</b></h3>
				  <p class="comit_loc"><span>By: </span>Bob The Builder 4</p>
				  <p class="my_attending">Attending</p>
			    </div>
			  </div> 
			</div>
	     </div>
  </ion-tab>

</ion-tabs>

 
</ion-view>