<ion-view view-title="Tours">
    <ion-content>
      
	    
	  
	 <div class="for_venu for_tour">
     <div class="for_bg">
     <h2><b>PRE & POST CONFERENCE TOURS</b></h2>
     <p>Delhi, India's capital territory, is a massive metropolitan area in the country's north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque, whose courtyard accommodates 25,000. Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops and spice stalls.</p>
     <div class = "row">	 
         
         <div class = "col text-center">
			  <div class="list card">
			     <div class="item item-body committee_outer">
				  <img class="full-image" src="img/to1.jpg">
				  <p>City Palace</p>
				  </div>
			  </div> 
			</div>
			
		</div>	
			
   	<div class = "row">		
			 <div class = "col text-center">
			  <div class="list card">
			     <div class="item item-body committee_outer">
				  <img class="full-image" src="img/to2.jpg">
				  <p>Jantar Mantar</p>
				  </div>
			  </div> 
			</div>
			
			
	    </div>
	    
	    <div class = "row">		
			 <div class = "col text-center">
			  <div class="list card">
			     <div class="item item-body committee_outer">
				  <img class="full-image" src="img/to3.jpg">
				  <p>Hawa Mahal</p>
				  </div>
			  </div> 
			</div>
			
			
	    </div>
	    
	    <div class = "row">		
			 <div class = "col text-center">
			  <div class="list card">
			     <div class="item item-body committee_outer">
				  <img class="full-image" src="img/to4.jpg">
				  <p>Jal Mahal</p>
				  </div>
			  </div> 
			</div>
			
			
	    </div>
	    
	    
	 </div> 
	 </div>  
			 
  
   
    
    
	 
	 
    </ion-content>
</ion-view>

  


  