<ion-view view-title="Organisers">
    <ion-content>
      
	    
	    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center"   ui-sref="app.Congress_Committee">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Congress Committee</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center"   ui-sref="app.Executive_Committee">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Executive Committee of Confederation</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center"   ui-sref="app.Scientific_Committee">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Scientific Committee</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center"   ui-sref="app.Advisory_Committee">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Advisory Committee</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center"   ui-sref="app.Organizing_Committees">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Organizing Committees</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center"   ui-sref="app.Finance_Committee">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Finance Committee</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center"   ui-sref="app.Reception_Committees">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Reception, Registration & Education Committees</b></h2>
			    </div>
			  </div> 
			</div>
			
			<div class = "col text-center"   ui-sref="app.Web_Committee">	 
			  <div class="list card">
			    <div class="item item-body committee_outer">
				  <h2><b>Web and Communication Committee</b></h2>
			    </div>
			  </div> 
			</div>
			
	    </div>
	    
	    
	   
	 
    </ion-content>
</ion-view>

  


  