<ion-view view-title="Venue">
    <ion-content>
        

	    
	    
	     <div class="list">
   <div class="item item-button-right ibe_content">
 
   <h2 class="con_head endo_head text-center"><b>Venue</b><h2>
   
    <h2 class="con_head endo_head text-center" style="color:rgb(0,0,128);"><b>Radisson Blu Resort, Temple Bay, Mahabalipuram (Mamallapuram)</b><h2>
   
  
   
   
           <div class = "row home_row_comittee">	 
         
         <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/radblue01.jpg">
				  
			    
			  </div> 
			 
			</div>
			
			
			
			 <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/radblue03.jpg">
				  
			    
			  </div> 
			 
			</div>
			
	    </div>
	    
	   <div class = "row home_row_comittee">	 
         
         <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/radblue02.jpg">
				  
			    
			  </div> 
			 
			</div>
			
			
			
			 <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  <img class="full-image" src="img/radblue09.jpg">
				  
			    
			  </div> 
			 
			</div>
			
	    </div>


 <ion-item class="item-text-wrap con_content text-center">
	
	
   
   
   <p class="ibe_con">Mahabalipuram (also known as Mamallapuram) is one of the most visited tourist destinations in Tamil Nadu located 50 km from Chennai. This 7th century port city of the Pallavas, which was a dynasty of Dravidian civilization, includes several historical monuments which were mainly structured in that era.</p>
   
    <p class="ibe_con">This tourist destination has been listed amongst the UNESCO World Heritage Site because of its importance and ancientness of the sculptures and temples which depict its historical past and traditional legacy and also about the Dravidian civilization. Noted for its complex carvings embellished with beautiful motifs and craftsmanship, the architectural designs of this temple are absolutely fascinating. </p>
    
     <p class="ibe_con">Spread across 44 lush, tropical acres and set against the Bay of Bengal, the Radisson Blu Resort Temple Bay Mamallapuram ensures a relaxing, memorable stay. Guests can choose from 144 hotel rooms and villas, some with private pools, and stay connected with in-room amenities like Free high-speed, wireless Internet. Before venturing out to visit sights like Shore Temple and Pondicherry near Mamallapuram, resort guests can dine at one of the world-calibre on-site restaurants, and when it’s time to wind down, a 27,000-square-foot meandering pool, a breathtaking infinity pool and two spas make it easy to let go of all the stress. Come and experience wow factor at the Radisson Blu Resort Temple Bay. Radisson Blu Resort Temple Bay Mamallapuram 57 Covelong Road, Kanchipuram Dist., Mamallapuram, 603104 India </p>
  
   
 
   
   
    <div class = "row home_row_comittee">	 
         
         <div class = "col text-center for_tours_img">
        
			  <div class="list card">
			   
				  
         <ion-item onclick="window.open('https://www.google.co.in/maps/place/Radisson+Blu+Resort+Temple+Bay+Mamallapuram/@12.626005,80.1961826,1828m/data=!3m1!1e3!4m12!1m6!3m5!1s0x3a52535486b14961:0x27ae660330e4d247!2sRadisson+Blu+Resort+Temple+Bay+Mamallapuram!8m2!3d12.623659!4d80.1946736!3m4!1s0x0:0xa8a774922c84934b!8m2!3d12.623856!4d80.1948111', '_system', 'location=yes'); return false;" href="#" target="_blank" class="con_ion">
          <img class="full-image" src="img/map.jpg">
          <h3><b>Click on the image to view location on Google Maps</b></h3>
          </ion-item>
  	  
				  
			    
			  </div> 
			 
			</div>
			
			
			
			
			
	    </div>

  </ion-item>

 </div>
</div>
	    
	   
	  
  
   
    
    
	 
	 
    </ion-content>
</ion-view>

  


  