<ion-view view-title="Committee">
    <ion-content>
	
	<h2 class="con_head endo_head text-center"><b>Web and Communication Committee</b><h2>

		<div class = "row home_row_comittee all_speakers  ex_comm">	 
				
				 <div class = "col text-center">
					<div class="list card">
						<div class="item item-body committee_outer">
						   <img class="full-image" src="img/committee_img/web_com/dr_pritham_shetty.jpg">
						  <h3><b>Dr. Pritham Shetty
</b></h3>
						  <p class="comit_loc">Bangalore</p>
						  <br>
						</div>
					  </div> 
				 </div>
				 
				 <div class = "col text-center">
					<div class="list card">
						<div class="item item-body committee_outer">
						   <img class="full-image" src="img/committee_img/web_com/mr_b_subramaniyan.jpg">
						  <h3><b>Mr. B Subramaniyan
</b></h3>
						  <p class="comit_loc">Chennai</p>
						  <br>
						</div>
					  </div> 
				 </div>
				 
			 </div>	 
			 
			 
			 <div class = "row home_row_comittee all_speakers  ex_comm">	 
				
				 <div class = "col text-center">
					<div class="list card">
						<div class="item item-body committee_outer">
						   <img class="full-image" src="img/committee_img/web_com/dr_raj_gopal_reddy.jpg">
						  <h3><b>Dr. Raj Gopal Reddy
</b></h3>
						  <p class="comit_loc">Hyderabad</p>
						  <br>
						</div>
					  </div> 
				 </div>
				 
				 <div class = "col text-center">
					<div class="list card">
						<div class="item item-body committee_outer">
						  <img class="full-image" src="img/committee_img/web_com/ravindra.jpg">
						  <h3><b>Dr. Ravindra Bharathi
</b></h3>
						  <p class="comit_loc">Coimbatore</p>
						  <br>
						</div>
					  </div> 
				 </div>
				 
			 </div>	 
			 
</ion-content>
</ion-view>			 
			 